<div class="main">
    <h1>Looks</h1>
    <h5>Conheça nossos looks</h5>
    <hr>

    <div class="filtro">
        <div>Filtrar por: </div>
        <div>
            <input [formControl]="produtosPorDisposicao" (change)='buscarProdutosPor()' type="checkbox"
                name="disponivel" id="disponivel">
            <label for="disponivel">Disponível</label>
        </div>

        <div>
            <label for="preco">Preço </label>
            <select [formControl]="precoSelecionado" (change)="buscarProdutosPor()" id="preco">
                <option *ngFor="let preco of precos" [value]="preco">
                    <span>{{preco == precoSelecionado.value ? '✅' : '✔'}}</span>
                    {{preco}} <span>{{getSifrao(preco)}}</span>
                </option>
            </select>
        </div>

        <div>
            <label for="categoria">Categoria </label>
            <select [formControl]="categoriaSelecionada" (change)="buscarProdutosPor()" id="categoria">
                <option *ngFor="let categoria of categorias" [value]="categoria">
                    <span>{{categoria == categoriaSelecionada.value ? '✅' : '✔'}}</span>
                    {{categoria}}
                </option>
            </select>
        </div>

        <div class="containe-btn-limpar">
            <div>
                <button class="btn-limpar" (click)="limparFiltro()">Limpar</button>
            </div>
        </div>

    </div>

    <h4>Resultados</h4>

    <div *ngIf="produtos" class="container">

        <div *ngFor="let produto of produtos; let i = index" class="box">

            <div class="imagem">
                <img [src]="'/assets/produtos/'+produto.imagens[0].nome" alt="">
            </div>

            <div>{{produto.nome}}</div>

            <div *ngIf="produto.mediaNota">
                <span>{{getEstrelas(produto.mediaNota)}}</span>
            </div>

            <div *ngIf="!produto.mediaNota">
                <button class="btn-avaliacoes" (click)="buscarMediaDasNotas(i)">Ver avaliações</button>
            </div>

            <div class="informacoes">
                <div>
                    <span>{{produto.categoria}} - {{getSifrao(produto.precoMedio)}} </span>
                </div>

                <div>
                    <span *ngIf="!produto.disponivel">🔴 </span>
                    <span *ngIf="produto.disponivel">🔵 </span>
                    {{ produto.disponivel ? 'Disponível' : 'Indisponível' }}
                </div>
            </div>

            <div>
                <button class="btn-datalhe" routerLink="/detalhe/{{produto.id}}"
                    (click)="salvarProdutoLocalStorage(produto)">
                    Detalhe
                </button>
            </div>
        </div>
    </div>
</div>