$cinza: #808184;

h1,
h5 {
    padding: 0 3% 0 3%;
}

hr {
    color: $cinza;
}

h1,
h4 {
    font-weight: 900;
    font-size: 2em;
}

img {
    min-width: 225px;
    min-height: 170px;

    /*  width: 225px;
    height: 170px; */
    width: 100%;
    border-radius: 3px;
}

.main {
    letter-spacing: 1px;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.box {
    background-color: white;
    color: black;
    border-radius: 3px;
    //padding: 20px;
    font-size: 14px;
    & > div {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.filtro {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    > div {
        margin-right: 10px;
        margin-bottom: 5px;
    }
}

.btn-datalhe {
    padding: 2%;
    background-color: #0c8093;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
}

.btn-limpar {
    background-color: transparent;
    text-transform: uppercase;
    border: 1.5px solid #808184;
    outline: none;
    color: black;
    font-weight: 600;
    width: 90px;
    height: 27px;
    border-radius: 3px;
}

.btn-avaliacoes {
    background-color: rgb(243, 243, 10);
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    padding: 2%;
    text-align: center;
    border-radius: 3px;
    font-size: 0.7em;
    font-weight: bold;
    cursor: pointer;
}

.informacoes {
    display: flex;
    justify-content: space-between;
}

.containe-btn-limpar {
    display: flex;
    justify-content: flex-end;
}
