.container {
    color: #6d353573;
    width: wh 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    padding: 2%;
    background-color: #0c809366;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
}
