<div class="container">
    <div class="box">
        <div>
            <h1>Olá! conteúdo não encontrado!</h1>
        </div>
        <button routerLink="/produtos">Ver produtos ❤️</button>
    </div>
</div>