img {
    min-width: 225px;
    min-height: 170px;
    width: 100%;
    border-radius: 3px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.box {
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 3px;
    //padding: 20px;
    font-size: 14px;
    & > div {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.btn-voltar {
    padding: 2%;
    background-color: #0c8093;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
}

.btn-proxima-imagem {
    padding: 2%;
    background-color: #3bee3b;
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 3px;
}

.btn-imagem-anterior {
    padding: 2%;
    background-color: rgb(50, 175, 197);
    text-transform: uppercase;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 3px;
}

.informacoes {
    display: flex;
    justify-content: space-between;
}
