<div class="container">

    <div *ngIf="produto" class="box">

        <img src="{{'/assets/produtos/'+produto.imagens[indexAtualImagem].nome}}" alt="">

        <div>{{produto.nome}}</div>

        <div *ngIf="produto.mediaNota">
            <span>{{getEstrelas(produto.mediaNota)}}</span>
        </div>

        <div class="informacoes">
            <div>
                <span>{{produto.categoria}} - {{getSifrao(produto.precoMedio)}} </span>
            </div>

            <div>
                <span *ngIf="!produto.disponivel">🔴 </span>
                <span *ngIf="produto.disponivel">🔵 </span>
                {{ produto.disponivel ? 'Disponível' : 'Indisponível' }}
            </div>
        </div>

        <span *ngIf="produto.imagens.length">
            <button class="btn-proxima-imagem" *ngIf="indexAtualImagem > 0" (click)="imagemAnterior()">⬅️ Imagem
                anterior</button>
            <button class="btn-imagem-anterior" *ngIf="indexAtualImagem < produto.imagens.length -1"
                (click)=" proximaImagem()">Próxima
                imagem ➡️</button>
        </span>
        <button class="btn-voltar" routerLink="/produtos">Voltar para galeria</button>
    </div>

</div>