img {
    width: 100%;
    margin-right: 10px;
    border-radius: 6px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-right: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.btn-produtos {
    padding: 2%;
    background-color: #0c8093;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
}
