<div class="container">
    <div class="box">
        <h1>Destaques do dia</h1>
        <div *ngFor="let imagem of imagensDestacadas">
            <img [src]="'/assets/produtos/'+imagem.nome" alt="">
        </div>

        <button class="btn-produtos" routerLink="/produtos">Ver todos os Looks ❤️</button>
    </div>
</div>